#main p {
    /* main - родительский элемент, р - потомок (вложенный элемент) */
    width           : 500px;
    height          : 80px;
    font-size       : 16px;
    background-color: rgb(14, 66, 209);
    margin          : 10px;
}

#footer p {
    width           : 500px;
    height          : 80px;
    font-size       : 13px;
    background-color: rgb(93, 103, 129);
    margin          : 10px;
}

li .redLink {
    color: red;
}

.content {
    font-size       : 16px;
}

.article > p {

    color: red;
}