.box-shadow {
    width: 700px;
    height: 330px;
    font-family     : cursive, sans-serif;
    background-color: #2ecc71;
    color           : white;
    padding         : 5px;
    border-radius   : 4px;
    box-shadow      : 2px 2px 20px 23px #7fecad;
}