h2+div {
    color: red;
}
h3~div {
    color:blue
}

a:link {  /* Еще не нажатая ссылка */
    color: blue;
    text-decoration: none;
}

a:visited { /* Ссылка, которую уже нажимали */
    color:  rgb(12, 243, 174);
    text-decoration: none; /* none - не подчёркивать */
}

a:hover { /* При наведении мышкой (без нажатия) */
    color: red;
    text-decoration: underline; /* underline - подчёркивать */
}

a:active { /* Выбранная ссылка */
    color:yellow;
    text-decoration:underline
}

input:hover { /* Стиль для текстовой формы */
    /* При наведении мышкой (без нажатия) */
    border: 2px solid red;
}