h1, h2, h3, h4, p {
    color: rgb(0, 255, 157);
}

div {
    width: 50px;
    /* Ширина */
    height: 50px;
    /* ВЫсота */
    background-color: rgb(200, 255, 0);
    margin: 10px;
    /* определяет внешний отступ на всех четырёх сторонах элемента */
}

.redBlock {
    background-color: red;
}

.blueBlock {
    background-color: blue;
}

#header {
    width: 500px;
    height: 80px;
    background-color: #ccc;
}

#content {
    width: 500px;
    height: 180px;
    background-color: #eee;
}

#footer {
    width: 500px;
    height: 80px;
    background-color: #ccc;
}