a:first-child {
    color: red;
}

a:last-child {
    color: blue;
}

p:only-child {
    color: red;
}

span:only-of-type {
    color: green;   /* зеленый цвет */
}

p:only-of-type {
    color: red; /* красный цвет */
}

div:only-of-type {
    color: blue;    /* синий цвет */
}

tr:nth-child(odd) { /* Стиль для нечётных (odd) элементов таблицы */
    background-color: #bbb;
}
tr:nth-child(even) { /* Стиль для чётных (even) элементов таблицы */
    background-color: #fff;
}
